[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
napari = "*"
natsort = "*"
scikit-image = "*"
scipy = "*"
tifffile = "*"
matplotlib = "*"
ffmpeg-python = "*"
imageio-ffmpeg = "*"
tqdm = "*"
joblib = "*"
pyqt5 = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.9"
